
@{
    ViewBag.Title = "GenerateReceipt";
}


<!DOCTYPE html>
<html>
<body>

    <h2>The window.print() Method</h2>

    <p>Click the button to print the current page.</p>

    <button onclick="window.print()">Print this page</button>


    <button class="w3-button w3-black">Black</button>
    <button class="w3-button w3-khaki">Khaki</button>
    <button class="w3-button w3-yellow">Yellow</button>
    <button class="w3-button w3-red">Red</button>
    <button class="w3-button w3-purple">Purple</button>

</body>
</html>


